<p-toast></p-toast>

<div class="admin-page">
    <p-card header="Add Brand" subheader="You can add or edit Brands">
        <div class="grid mb-5">
            <div class="col">
                <p-toolbar>
                    <div class="toolbar-group-left"></div>
                    <div class="toolbar-group-right">
                        <p-button 
                        styleClass="p-button-primary mr-4" 
                        icon="pi pi-plus"
                        label=" Create" 
                        (click)="onSubmit()">
                        </p-button>

                        <!-- <p-button 
                        styleClass="p-button-secondary" 
                        icon="pi pi-arrow-circle-left"
                        (click)="onCancel()" 
                        label="Cancel">
                        </p-button> -->

                    </div>
                </p-toolbar>
            </div>
        </div>
        <div class="grid">
            <div class="col-12">
                <form [formGroup]="brandsForm">
                    <div class="fluid formgrid grid">
                        <div class="field col">
                            <label for="name">Name</label>
                            <input formControlName="name" id="name" type="text" pInputText class="inputfield w-full">
                            <small *ngIf="brandFormValues['name'].invalid && isSubmitted" class="p-error">Name
                                required</small>
                        </div>
                       

                    </div>
                </form>
            </div>
        </div>
    </p-card>
</div>