<p-toast></p-toast>

<div class="admin-page">
    <p-card [header]="editMode ? 'Edit Product' : 'Add Product'" subheader="You can Add or Edit Products">
        <div class="grid mb-5">
            <div class="col">
                <p-toolbar>
                    <div class="toolbar-group-left"></div>
                    <div class="toolbar-group-right">
                        <p-button styleClass="p-button-primary mr-4" icon="pi pi-plus"
                            [label]="editMode ? 'Update' : 'Create'" (click)="onSubmit()">
                        </p-button>

                        <p-button styleClass="p-button-secondary" icon="pi pi-arrow-circle-left" (click)="onCancel()"
                            label="Cancel">
                        </p-button>

                    </div>
                </p-toolbar>
            </div>
        </div>
        <div class="grid">
            <div class="col-12">
                <form [formGroup]="form">
                    <div class="fluid formgrid grid">
                        <div class="field col">
                            <label for="name">Name</label>
                            <input formControlName="name" id="name" type="text" pInputText class="inputfield w-full">
                            <small *ngIf="productForm['name'].invalid && isSubmitted" class="p-error">Name
                                required</small>
                        </div>
                        <div class="field col">
                            <label for="brand">Brand</label><br>
                            <p-autoComplete formControlName="brand" [suggestions]="brands" field="name"
                            (onSelect)="selectedBrand($event)" (completeMethod)="searchByBrandName($event)">
                            </p-autoComplete>

                            <small *ngIf="productForm['brand'].invalid && isSubmitted" class="p-error">Brand
                                required</small>
                        </div>
                        <div class="field col">
                            <label for="price">Price</label><br>
                            <p-inputNumber formControlName="price" mode="decimal" inputId="price" [useGrouping]="false">
                            </p-inputNumber><br>
                            <small *ngIf="productForm['price'].invalid && isSubmitted" class="p-error">Price
                                required</small>
                        </div>
                    </div>

                    <div class="fluid p-formgrid grid">
                        <div class="field col">
                            <label for="countInStock">countInStock</label><br>
                            <p-inputNumber formControlName="countInStock" mode="decimal" inputId="countInStock"
                                [useGrouping]="false">
                            </p-inputNumber><br>
                            <small *ngIf="productForm['countInStock'].invalid && isSubmitted"
                                class="p-error">countInStock
                                required</small>
                        </div>
                        <div class="field col">
                            <label for="category">Category</label><br>
                            <p-autoComplete formControlName="category" [suggestions]="categories" field="name"
                                (onSelect)="selectedCategory($event)" (completeMethod)="searchByCategoryName($event)">
                            </p-autoComplete>

                            <small *ngIf="productForm['category'].invalid && isSubmitted" class="p-error">Category
                                required</small>
                        </div>

                        <div class="field col">
                            <label for="material">Material</label><br>
                            <p-autoComplete formControlName="material" [suggestions]="materials" field="name"
                            (onSelect)="selectedMaterial($event)" (completeMethod)="searchByMaterialName($event)"> 
                            </p-autoComplete>

                            <small *ngIf="productForm['material'].invalid && isSubmitted" class="p-error">Supplier
                                required</small>
                        </div>
                        <div class="field col">
                            <label for="supplier">Supplier</label><br>
                            <p-autoComplete formControlName="supplier" [suggestions]="suppliers" field="name"
                            (onSelect)="selectedSupplier($event)" (completeMethod)="searchBySupplierName($event)">
                            </p-autoComplete>

                            <small *ngIf="productForm['supplier'].invalid && isSubmitted" class="p-error">Supplier
                                required</small>
                        </div>
                        <div class="field col">
                            <label for="isFeatured">Is Featured</label><br>
                            <p-inputSwitch formControlName="isFeatured"></p-inputSwitch>
                        </div>
                        <div class="field col-12">
                            <label for="icon">Description</label><br>
                            <textarea pInputTextarea formControlName="description" [rows]="7" [cols]="30">
                            </textarea><br>
                            <small *ngIf="productForm['description'].invalid && isSubmitted" class="p-error">Description
                                required</small>
                        </div>
                        <div class="field col-12">
                            <label for="richDescription">Product Details</label><br>
                            <p-editor formControlName="richDescription" [style]="{'height':'320px'}"></p-editor>
                        </div>
                        <div class="field col-2">
                            <label for="main">Main Image</label><br>
                            <input type="file" class="p-inputtext" accept="image/*" (change)="onImageUpload($event)" />
                            <small *ngIf="productForm['image'].invalid && isSubmitted" class="p-error">Image
                                required</small>
                            <div>
                                <img style="width: 100%" [src]="imageDisplay">
                            </div>
                        </div>

                        <!-- <div class="field col-2">
                            <label for="main">Gallery Image</label><br>
                            <input type="file" class="p-inputtext" multiple="true" accept="image/*"
                                (change)="imagesUpload($event)" />
                            <small *ngIf="productForm['images'].invalid && isSubmitted" class="p-error">Image
                                required</small>
                            <div>
                                <img style="width: 100%" [src]="imageDisplay">
                            </div>
                        </div> -->
                    </div>
                </form>
            </div>
        </div>



    </p-card>
</div>